<ion-header>
<ion-segment>
  <ion-segment-button value="experencia" content-id="tab1">
    <ion-label>Experiencia Laboral</ion-label>
    <ion-icon name="briefcase-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="certificaciones" content-id="tab2">
    <ion-label>Certificaciones</ion-label>
    <ion-icon name="school-outline"></ion-icon>
  </ion-segment-button>
</ion-segment>
</ion-header>

<ion-content class="my-data-content">
  <ion-segment-view>
    <ion-segment-content id="tab1">
      <app-work-exp></app-work-exp>
    </ion-segment-content>
    <ion-segment-content id="tab2">
      <app-certs></app-certs>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>