<ion-header>
  <ion-toolbar>
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="not-found-container">
    <h1>¡Ups!</h1>
    <h2>Error 404: Página no encontrada</h2>
    <p>Lo sentimos, la página que buscas no existe o se movió de lugar.</p>
    <ion-button expand="block" routerLink="/">
      Volver a la página de inicio
      <ion-icon slot="end" name="home"></ion-icon>
    </ion-button>
  </div>
</ion-content>