<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cámara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="takePhoto()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Tomar foto
  </ion-button>

  <div *ngIf="photo">
    <h2>Previsualización de la foto</h2>
    <img [src]="photo" alt="Foto Capturada" class="captured-image" />

    <ion-button expand="block" color="primary" (click)="setProfilePicture()">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      Establecer como Foto de Perfil
    </ion-button>

    <ion-button expand="block" color="medium" (click)="retakePicture()">
      <ion-icon slot="start" name="refresh-circle"></ion-icon>
      Volver a tomar
    </ion-button>
  </div>
</ion-content>