<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <ion-list>

      <ion-item>
        <ion-input type="text"
                  [(ngModel)]="credentials.username"
                  name="username"
                  required
                  minLenght="3"
                  maxLenght="8"
                  #usernameInput="ngModel"
                  label="Nombre de usuario"
                  labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password"
                  [(ngModel)]="credentials.password"
                  name="password"
                  required
                  minLenght="4"
                  maxLenght="4"
                  label="Contraseña"
                  labelPlacement="floating">
        </ion-input>
      </ion-item>
      
    </ion-list>

    <ion-button expand="block"
                shape="round"
                type="submit"
                [disabled]="!loginForm.valid"
    >
      Iniciar Sesión
    </ion-button>

  </form>

  <ion-col>
    <div class="ion-text-center">
      <a routerLink="/signup" text>¿No tienes una cuenta? Regístrate</a>
    </div>
  </ion-col>
  
</ion-content>