<ion-header>
  <ion-toolbar>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab tab="home">
    <app-my-data></app-my-data>
  </ion-tab>
  <ion-tab tab="tasks">
    <ion-router-outlet></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
  
</ion-tabs>