<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card *ngIf="userProfile">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <div class="profile-picture-container">
          <img *ngIf="profilePictureUrl" [src]="profilePictureUrl" alt="Foto de Perfil" class="profile-picture" />
          <ion-icon *ngIf="!profilePictureUrl" name="person-circle-outline" size="large" class="default-profile-icon"></ion-icon>
        </div>
        <div class="profile-name">
          {{ userProfile.nombre }} {{ userProfile.apellido }}
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">

        <ion-item *ngIf="userProfile.username">
          <ion-icon name="at-outline" slot="start"></ion-icon>
          <ion-label>
            <strong>Nombre de Usuario:</strong>
            <p>{{ userProfile.username }}</p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="userProfile.nombre">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>
            <strong>Nombre:</strong>
            <p>{{ userProfile.nombre }}</p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="userProfile.apellido">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>
            <strong>Apellido:</strong>
            <p>{{ userProfile.apellido }}</p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="userProfile.id">
          <ion-icon name="finger-print-outline" slot="start"></ion-icon>
          <ion-label>
            <strong>ID de Usuario:</strong>
            <p>{{ userProfile.id }}</p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="userProfile.nivelEducacion">
          <ion-icon name="school-outline" slot="start"></ion-icon>
          <ion-label>
            <strong>Nivel Educativo:</strong>
            <p>{{ userProfile.nivelEducacion }}</p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="userProfile.fechaNacimiento">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            <strong>Fecha de Nacimiento:</strong>
            <p>{{ userProfile.fechaNacimiento | date:'longDate' }}</p>
          </ion-label>
        </ion-item>

        </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!userProfile" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando perfil...</p>
  </div>

</ion-content>